@charset "utf-8";
	*{
	margin: 0px;
		padding: 0px;
}
body{
	font: normal normal 17px/1.6 arial, "sans serif";
}
header{
	white-space: wrap;
	background:#222;
	position:fixed; 
	width: 100%;
	top:0px;
	z-index: 9999;
}
.obed_kabongo{
	color: aliceblue;
	text-transform: capitalize;
}
.obed{
	color:orangered;
	letter-spacing: 2px;
}
.barre_menu{
	display: block;
	position: relative;
	justify-content: cener;
	align-items: center;
	text-align: center;
}
.alignement{
	list-style-type: none;
	display: inline;
	padding-left: 0px;
	letter-spacing: 2px;
	margin-left: 15px;
}
.prop_el_a_menu{
	text-decoration: none;
	font: normal bold 15px/10px arial, "sans serif";
	text-transform: capitalize;
	color:whitesmoke;
}
.survol_navigation:hover{
	color:#4169E1;
}
#accueil{
	border-color:black ;
	border-radius: 10px;
	padding: 4px;
	background:orangered ;
}
/*-------PARTIE DU CORPS DU TRAVAIL*/
main{
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 110px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
/*-------------------SECTION 1 PRESENTATION*/
#presentation{
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 2px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}
.image_presentation{
	border-radius: 50px;
	border: 2px solid;
	border-color: orangered;
}
.mot_entree{
	padding: 2px;
}
.frofil_image{
	border-radius: 50px;
}
.titre{
	text-align:left;
	margin-bottom: 4%;
	font: normal bold 28px/16px "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.futur_ingenieur,.titre{
margin-bottom: 10px;
text-align:left;
	
}

.presentation_1 {
text-align:left;
font-size:100%;
padding: 5px;

}

#liens_sociaux{
	margin-left: 30%;
	margin-right: 30%;
	display: flex;
	flex-direction: row;
	justify-content:space-around;

}
#transition{
	width: 150px;
	overflow: hidden;
	border-radius: 15px;
	border: orangered 2px solid;
	margin-left: 44%;
	margin-right: 44%;
	margin-bottom: 3%;
	margin-top: 3%;
}
.images{
	display: flex;
	animation-duration: 20s;
	animation-name: transition;
	animation-iteration-count: infinite;
}
	@keyframes transition{
	0%{
		transform: translate(0);
	}
	10%{
		transform: translate(-150px);
	}
	20%{
		transform: translate(-300px);
	}
	30%{
		transform: translate(-450px);
	}
	40%{
		transform: translate(-600px);
	}
	50%{
		transform: translate(-750px);
	}
	60%{
		transform: translate(-900px);
	}
	70%{
		transform: translate(-1050px);
	}
	80%{
		transform: translate(-1200px);
	}
	90%{
		transform: translate(-1350px);
	}
	100%{
		transform: translate(0);
	}
}
.email_tel_addr{
	margin-left: 20px;
	padding-left: 17%;
}
#telechargement{
	border: 2px solid;
	margin-bottom: 10px;
	background: red;
	text-align: center;
	border-radius: 10px;
	width: 29%;
	padding: 4px;
	margin-left: 37.5%;
	margin-right: 37.5%
}
.telecharger{
	text-align: center;
	padding: 4%;
	
	font: normal bold 15px/15px arial, "sans serif";
	color: whitesmoke;
}
/*-------------PARTIE DU FOOTER--------*/
footer{
	display: flex;
	flex-direction: column;
	text-align: justify;
	background:#222;
	color: beige;
}
.contact_pied{
	padding: 4px;
	text-align: center;
	align-items: center;
	font:normal normal 18px/22px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
}
#adresse{
	display: inline;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 3%;
	
}
#numero{
	display: inline;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 3%;
}
#message{
	display: inline;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 3%;
}
#facebook{
	display: inline;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 3%;
}
a{
	text-decoration: none;
	color:beige;
}
.copiright {
	margin-left: 8px;
	margin-top: 2px;
}
		/*----------- PARTIE MEDIA ----------------*/
@media (max-width : 456px ){
	#presentation{
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	}
	.obed{
	color:#4169E1;
	letter-spacing: 2px;
}
	.titre, .futur_ingenieur{
	margin-bottom: 2px;
	text-align: center;
	}
	#transition{
	width: 45%;
	overflow: hidden;
	border-radius: 15px;
	border: navy 2px solid;
	margin-left: 27.5%;
	margin-right: 27.5%;
	margin-bottom: 3%;
}
	#liens_sociaux{
	margin-left: 32%;
	margin-right: 32%;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}
}

